@import "../../sass/variables.scss";

#landing-content {
    color: whitesmoke;
    height: 30%;
    margin: auto;
    width: 80%;
    height: 70%;
    margin: auto;
    padding-top: 15%;
 }
 
 #landing-window {
    height: 100vh;
    background-color: $primary-color;
 }

 #landing-content  a {
   color: whitesmoke;
 }

 #landing-content .contact-buttons {
    padding: 5%;
 }

h1 {
   @media only screen and (max-width: 768px) {
      padding-top: 10%;
      }
}