@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import "./variables.scss";

body {
   background-image: whitesmoke;
   background-repeat: none;
   color: $dark-text;
   height: 110vh;
   font-family: $body-font;
   width: 100vw;
   @media only screen and (max-width: 640px) {
      font-size: .7rem;
   }
}

.content {
   width: 80%;
   margin: auto;

   @media only screen and (max-width: 640px) {
      width: 98%;
      font-size: .7rem;
   }
}

.content p {
   text-align: center;
   font-size: 18px;

   @media only screen and (max-width: 768px) {
      font-size: .9rem;
   }
}

#portfolio-display,
footer {
   background-color: $background-light;
}

h1,
h2,
h3,
h4,
li.info {
   text-align: center;
}
h1,
h2 {
   font-size: 44px;
   font-weight: bold;
   line-height: 2;
   margin: auto;

   @media screen and (max-width: 768px) {
      font-size: 30px;
   }
}

h3 {
   font-size: 34px;
   margin: 2%;
}

h4,
h5 {
   font-size: 18px;
   padding: 2%;

   @media only screen and (max-width: 768px) {
      font-size: 20px
   }
}

h5 {
   font-weight: bold;
}

a:link,
a:visited {
   color: $primary-color;
}

a:hover,
a:active {
   color: $secondary-color;
}

#portfolio-display,
#about,
#contact {
   padding: 5% 0;
}

.bottom {
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 0;
}