// page colors 
$primary-color: #EF798A;
$secondary-color: #1985A1;
$background-color: #FFFFFF;
$background-light: #C5C3C6;

// text colors
$dark-text: #46494C;
$light-text: #C3E0DF;

// fonts
$title-font: 'Montserrat', sans-serif;
$text-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif;
$body-font:  'Montserrat', sans-serif;

$footer-height: 50px;