@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import "./variables.scss";

body {
    background-image: whitesmoke;
    background-repeat: none;
    color: $dark-text;
    height: 110vh;
    font-family: $body-font;
 }

 .content {
    width: 80%;
    margin: auto;
}
 
 .content p {
    text-align: center;
    font-size: 18px;
 }

 #portfolio-display,
footer {
   background-color: #DCDCDC;
}

h2,
h3,
h4,
li.info {
   text-align: center;
}

h2 {
   font-size: 44px;
   font-weight: bold;
   line-height: 2;
   margin: auto;

}

h3 {
   font-size: 34px;
   margin: 2%;
}

h4, h5 {
   font-size: 18px;
   padding: 2%;
}

h5 {
   font-weight: bold;
}
