// page colors 
$primary-color: #E06E57;
$background-color: #FFFFFF;

// text colors
$dark-text: #00000F;
$light-text: #C3E0DF;

// fonts
$title-font: 'Montserrat', sans-serif;
$text-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif;
$body-font:  'Montserrat', sans-serif;

$footer-height: 50px;