li.describe {
   width: 25%;
   justify-content: center;
   text-align: center;

   @media only screen and (max-width: 640px) {
      width: 90%;
   }

   h5 {
      font-size: 24px;
      @media only screen and (max-width: 768px) {
         font-size: 16px;
         }
      @media only screen and (max-width: 640px) {
         font-size: 18px;
      }
   }
}

.list-icon {
   font-size: 60px;

   @media only screen and (max-width: 640px) {
      font-size: 40px;
   }
}

ul.about-me {
   margin: 2% 0;
   display: flex;
   flex-direction: row;
   align-content: center;
   flex-wrap: wrap;
   justify-content: space-evenly;

   @media only screen and (max-width: 640px) {
      flex-direction: column;
   }
}

.portrait {
   width: 100%;
   height: auto;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}


.float-left {
   float: left;
   padding: 2% 5% 5% 0;
}

.left {
   width: 60%;
}

.float-left,
.float-right,
.left,
.right {
   @media only screen and (max-width: 640px) {
      float: none;
      width: 100%
   }
}

.float-right {
   float: right;
   padding: 2% 5% 5% 0;
}

.right {
   width: 30%;
}

.about p {
   line-height: 1.2;
   @media only screen and (max-width: 640px) {
     line-height: 1;
   }
}