#landing-content {
    color: whitesmoke;
    height: 30%;
    margin: auto;
    width: 80%;
    height: 70%;
    margin: auto;
    padding-top: 15%;
 }
 
 #landing-window {
    height: 100vh;
    background-color: #F77B77;
 }